#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: cadetblue;
  font-color: #e8fdff;
  padding-top: 0.2rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 2em;
  line-height: 80px;
  float: left;
}

#composeButton {
  float: right;
  margin-right: 10%;
  margin-top: 10px;
  font-family: Roboto Condensed;
  border-radius: 5px;
  height: 53px;
  width: 120px;
  font-size: 18px;
  border: 1px solid;
  border-color: gainsboro;
}

#composeButton:hover {
  background-color: darkgrey;
}