.new-tweet {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
  margin-bottom: 5px;
  background-color: #e6e6e6;
  border-color: gainsboro;
}

.new-tweet h2 {
  line-height: 1.5em;
  color: black;
  text-align: left;
  border-bottom: 0.5px solid black;
  margin: 0px 10px 10px 10px;
}

.new-tweet textarea{
  margin: 5px 10px 5px 10px;
  width: -webkit-fill-available;
  margin-top: 0;
  border-radius: 5px;
  height: 80px;
}

.new-tweet input{
  text-align: left;
  margin-left: 10px;
  border-radius: 3px;
}

.new-tweet span{
  text-align: right;
  margin-right: 10px;
  float: right
}

.red {
  color:red;
}

#tweetPage {
  min-height: 100vh;
  padding-bottom: 20px;
}

.noInputChar {
  display: none;
  color: red;
}

.tooManyChar {
  display: none;
  color: red;
}